$azul-claro: #82DDF0;
$azul-oscuro: #5296A5;
$transparente: rgba(130, 221, 240, .4);
$rojo: #DB504A;
$rosa: #FF6f59;
$negro: #1d1e18;

$cursiva: 'Caveat', cursive;
$recta: 'Chau Philomene One', sans-serif;

@import "etiquetas";
@import "bootstrap";
@import "clasesPropias";